@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  background-color: #0f172a;
}

body {
  color: white;
}
.react-flow {
  cursor: grab;
}

.react-flow:active {
  cursor: grabbing;
}

.react-flow__pane {
  cursor: grab;
}

.react-flow__pane.dragging {
  cursor: grabbing;
}